/src/property/
/reports/
/target/
/test-output/
/TripData/
/screenshots/
/Reporting/
/dataResource/JsonTemplateValue/
velocity.log
testngSuites/LocalExcution.xml
*.class
/.idea/
.idea
/reportTestTrailJson/
/resources/
a2hotelsat.iml
/.gradle/*
/.idea/gradle.xml